main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 600px;
    max-height: 600px;
    grid-gap: 0px;
}
app-square button {
    border: 1px blue solid;
    width: 100% !important;
    padding-bottom: 100% !important;
    font-size: 50%;
    line-height: 0vmax !important;
}
.nb-theme-cosmic [nbButton].size-medium {
    line-height: 100%;
}
